<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{% if page.subtitle %}{{ page.subtitle | strip_html }}{% else %}{{ site.description }}{% endif %}">
    <meta name="msapplication-TileColor" content="#c63f26">
    <meta name="theme-color" content="#c63f26">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:description" content="{% if page.subtitle %}{{ page.subtitle | strip_html }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{{ site.url }}/og.png">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title | strip_html }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{% if page.permalink %}{{ page.permalink }}{% endif %}">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/assets/main.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/@popperjs/core/dist/umd/popper.min.js" defer></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" defer></script>
    <script src="/node_modules/@twemoji/api/dist/twemoji.min.js" defer></script>
    <script>$(document).ready(function () { document.body = twemoji.parse(document.body, {folder: 'svg', ext: '.svg'}); });</script>
{% if page.url != '/pokemon-go' %}
    <script>$(document).ready(function () { document.body = twemoji.parse(document.body, {folder: 'svg', ext: '.svg'}); });</script>
{% endif %}
  </head>
  <body>
    <nav class="navbar navbar-dark bg-transparent">
      <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/avatar.png" alt="{{ site.title }}" class="rounded-circle">
      </a>
      <div class="dropdown">
        <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="dropdown" aria-label="Navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
          <a class="dropdown-item{% if page.url == '/' %} active{% endif %}" href="/">About</a>
          <a class="dropdown-item{% if page.url == '/places' %} active{% endif %} disabled" href="/places">Places</a>
          <a class="dropdown-item{% if page.url == '/posts' or page.layout == 'post' %} active{% endif %} disabled" href="/posts">Posts</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Furry</h6>
          <a class="dropdown-item{% if page.url == '/fursona' %} active{% endif %}" href="/fursona">Fursona</a>
          <a class="dropdown-item{% if page.url == '/fursuit' %} active{% endif %} disabled" href="/fursuit">Fursuit</a>
          <a class="dropdown-item{% if page.url == '/conventions' %} active{% endif %}" href="/conventions">Conventions</a>
        </div>
      </div>
    </div>
    </nav>
